* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

button:hover {
  cursor: pointer;
}

.nav-top {
  background-color: #f5f5f5;
  width: 1920px;
  height: 48px;
}
.nav-top-container {
  display: flex;
  margin: 0px 60px;
}
.nav-top-container-left {
  display: flex;
  align-items: center;
  height: 48px;
}
.nav-top-container-left a {
  font-size: 14px;
  color: #666666;
}
.nav-top-container-left p {
  margin-left: 22px;
  margin-right: 19px;
  margin-top: 16px;
}
.nav-top-container-center {
  display: flex;
  margin-left: 410px;
  align-items: center;
  height: 48px;
}
.nav-top-container-center p {
  margin-top: 18px;
  font-size: 14px;
  color: #666666;
}
.nav-top-container-center #span-1 {
  color: #ba933e;
  text-decoration: underline;
  font-size: 14px;
  font-weight: bold;
  transform: scale(1);
  animation: infinite 1s infinite;
}
@keyframes infinite {
  from {
    font-size: 13px;
  }
  to {
    font-size: 17px;
  }
}
.nav-top-container-center button {
  width: 88px;
  height: 24px;
  background-color: #ba933e;
  border-radius: 4px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  border: none;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.nav-top-container-center button span {
  background: #ba933e;
  background: linear-gradient(0deg, #ba933e 0%, #ba933e 100%);
  display: block;
  position: absolute;
  width: 100px;
  height: 40px;
  box-shadow: inset 2px 2px 2px 0px #ba933e, 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-top: -20px;
  padding-top: 6px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav-top-container-center button span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.nav-top-container-center button span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.nav-top-container-center button:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.nav-top-container-center button:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.nav-top-container-right {
  margin-left: 475px;
  display: flex;
  align-items: center;
  height: 48px;
}
.nav-top-container-right #select-1 {
  border: none;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #666666;
}
.nav-top-container-right #select-2 {
  border: none;
  background-color: #f5f5f5;
  font-size: 14px;
  color: #666666;
}
.nav-top-container-right img {
  margin-left: 20px;
}
.nav-top-container-right i {
  color: #666666;
  font-size: 14px;
}

@media only screen and (min-width: 1061px) {
  .nav-top {
    width: 100%;
  }

  .nav-top-container-center {
    margin-left: auto;
  }

  .nav-top-container-right {
    margin-left: auto;
  }
}
.nav-below {
  width: 1920px;
  background-color: white;
  height: 81px;
}
.nav-below-container {
  margin: 0px 60px;
  display: flex;
  align-items: center;
}
.nav-below-container-nav {
  margin-left: 27%;
  height: 81px;
}
.nav-below-container-nav ul {
  display: flex;
  align-items: center;
  text-decoration: none;
  list-style: none;
  height: 81px;
  margin-bottom: 0px !important;
}
.nav-below-container-nav ul #subnav {
  position: relative;
}
.nav-below-container-nav ul li {
  margin-left: 31px;
}
.nav-below-container-nav ul li .list-item {
  display: none;
  position: absolute;
  background-color: #fff;
  z-index: 3;
  top: 224%;
  width: 250px;
  height: 120px;
  text-indent: 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-below-container-nav ul li .list-item li {
  margin-left: 0px;
}
.nav-below-container-nav ul li .list-item li:hover {
  background-color: yellow;
}
.nav-below-container-nav ul li .list-item a {
  width: 100%;
  display: block;
  line-height: 40px;
  border-top: 1px solid black;
}
.nav-below-container-nav ul li a {
  color: black;
  font-size: 16px;
}
.nav-below-container-nav ul li a:hover {
  text-decoration: none;
  color: #ba933e;
}
.nav-below-container-login {
  display: flex;
  height: 81px;
  align-items: center;
  margin-left: 21%;
  font-size: 16px;
}
.nav-below-container-login a {
  display: flex;
  align-items: center;
  color: black;
}
.nav-below-container-login a:hover {
  color: #ba933e;
  text-decoration: none;
}
.nav-below-container-login a i {
  margin-right: 5px;
}
.nav-below-container-login a i:hover {
  color: #ba933e;
}
.nav-below-container-login p {
  margin-left: 27px;
  margin-top: 16px;
}
.nav-below-container-login .item-1 {
  padding: 0px 27px;
}
.nav-below-container-login .item-2 {
  margin-right: 27px;
}
.nav-below-container-login i {
  font-size: 14px;
}

.banner-top {
  perspective: 1500px;
  transform: translateZ(-1500px) rotateY(70deg);
  position: absolute;
  z-index: 4;
  left: 30%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
.banner-top img {
  width: 100%;
}
.banner-top button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 6%;
  background-color: white;
  color: black;
  z-index: 5;
}
.banner-top #btn-banner:hover {
  background-color: red;
  color: white;
}

.banner-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.screen {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
  transform: translateZ(0) rotateY(0);
}

.banner-top.screen {
  opacity: 1;
  visibility: visible;
  animation: show 1s forwards;
}

@keyframes show {
  0% {
    transform: translateZ(-1500px) rotateY(70deg);
  }
  50% {
    transform: translateZ(0px) rotateY(70deg);
  }
  100% {
    transform: translateZ(0px) rotateY(0deg);
  }
}
@media only screen and (min-width: 1061px) {
  .nav-below {
    width: 100%;
  }

  .nav-below-container-nav {
    margin-left: auto;
  }
  .nav-below-container-nav-container-nav-ul {
    margin-left: auto;
  }

  .nav-below-container-login {
    margin-left: auto;
  }

  .nav-mobile {
    display: none;
  }

  .nav-overlay {
    display: none;
  }
}
.nav-toggle {
  /* width: 50px;
  height: 50px; */
  color: black;
  font-size: 30px;
  display: none;
  position: absolute;
  right: 5px;
}

@media only screen and (max-width: 1060px) {
  .nav-toggle {
    position: fixed;
    right: 10px;
    top: 20px;
  }
}
.menu-mobile {
  margin-top: 85px;
  margin-left: 24px;
  list-style: none;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  animation: fadeIn linear 0.3s;
}

#nav-check {
  display: none;
}

.nav-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: #fff;
  transform: translateX(100%);
  opacity: 0;
  transition: transform linear 0.3s, opacity linear 0.3s;
}

.nav-times {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.4rem;
}

.nav-input:checked ~ .nav-overlay {
  display: block;
}

.nav-input:checked ~ .background-top-content {
  display: none;
}

.nav-input:checked ~ .nav-mobile {
  transform: translateX(0%);
  opacity: 1;
}

#nav-check {
  display: none;
}

.text-1 {
  font-size: 20px;
  font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.35);
}

@media only screen and (min-width: 376px) and (max-width: 499px) {
  .nav-input:checked ~ .nav-mobile {
    transform: translateX(-388%);
    opacity: 1;
  }
}
@media only screen and (max-width: 375px) {
  .nav-input:checked ~ .nav-mobile {
    transform: translateX(-352%);
    opacity: 1;
  }
}
@media only screen and (max-width: 1060px) {
  .nav-toggle {
    display: block;
  }

  .nav-top {
    display: none;
  }

  .nav-below-container-nav {
    display: none;
  }

  .nav-below-container-login {
    margin-left: auto;
  }
}
.background-top-image {
  width: 1920px;
  height: 672px;
}
.background-top-content {
  position: absolute;
  width: 676px;
  height: 234px;
  top: 220px;
  left: 254px;
}
.background-top-content p {
  font-size: 20px;
}
.background-top-content h4 {
  font-size: 48px;
}
.background-top-content button {
  width: 207px;
  height: 21%;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.background-top-content button:hover {
  background-color: #f5f5f5;
  color: black;
}
.background-top .slide {
  position: absolute;
  top: 95%;
  left: 47%;
}
.background-top .slide input {
  background-color: #ba933e;
}

@media only screen and (min-width: 1024px) {
  .background-top {
    position: relative;
  }
  .background-top-image {
    width: 100%;
    height: 672px;
  }
  .background-top-image img {
    width: 100%;
    height: 672px;
  }
}
.background-top-content {
  top: 32%;
  left: 16.5%;
}

.nav-mobile {
  z-index: 3;
}

.nav-overlay {
  z-index: 2;
}

@media only screen and (max-width: 1023px) {
  .background-top-image {
    width: 100%;
  }
  .background-top-image img {
    width: 100%;
  }

  .background-top-content {
    position: absolute;
    width: 100%;
    left: 10%;
    top: 30%;
  }
  .background-top-content p {
    font-size: 100%;
  }
  .background-top-content h4 {
    font-size: 100%;
  }
  .background-top-content button {
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .background-top-content {
    position: absolute;
    width: 100%;
    left: 10%;
    top: 15%;
  }
  .background-top-content p {
    font-size: 100%;
  }
  .background-top-content h4 {
    font-size: 100%;
  }
  .background-top-content button {
    width: 30%;
  }
}
@media only screen and (max-width: 375px) {
  .background-top-content {
    position: absolute;
    width: 100%;
    left: 10%;
    top: 15%;
  }
  .background-top-content p {
    font-size: 50%;
  }
  .background-top-content h4 {
    font-size: 50%;
  }
  .background-top-content button {
    width: 10%;
  }
}
.categories-top {
  width: 1920px;
  text-align: center;
  margin-top: 78px;
}
.categories-top p:first-child {
  font-size: 28px;
  font-weight: 700;
}
.categories-top p:last-child {
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .categories-top {
    width: 100%;
  }
}
@media only screen and (max-width: 1023px) {
  .categories-top {
    width: 100%;
    text-align: center;
  }
}
.categories-below {
  width: 1920px;
  height: 100%;
}
.categories-below-container {
  width: 1410px;
  height: 960px;
  margin: 0 16%;
  display: flex;
}
.categories-below-container img:hover {
  cursor: pointer;
}
.categories-below-container-left .left-top img {
  width: 930px;
  height: 632px;
}
.categories-below-container-left .left-below {
  display: flex;
  margin-top: 28px;
}
.categories-below-container-left .left-below img:first-child {
  margin-right: 28px;
  width: 450px;
  height: 294px;
}
.categories-below-container-right {
  margin-left: 28px;
}
.categories-below-container-right .right-top {
  width: 450px;
  height: 300px;
  margin-bottom: 28px;
}
.categories-below-container-right .right-below {
  width: 450px;
  height: 650px;
}

@media only screen and (min-width: 1024px) {
  .categories-below {
    width: 100%;
    height: 100%;
  }
  .categories-below-container {
    width: 67.5%;
    height: 100%;
  }

  .categories-below-container-left {
    width: 66%;
  }
  .categories-below-container-left .left-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-left .left-below {
    margin-top: 3%;
  }
  .categories-below-container-left .left-below img:first-child {
    margin-right: 3.2%;
    width: 48.3%;
    height: 40%;
  }
  .categories-below-container-left .left-below img:last-child {
    width: 48.4%;
    height: 40%;
  }

  .categories-below-container-right {
    width: 32%;
    margin-left: auto;
  }
  .categories-below-container-right .right-top {
    width: 100%;
    height: auto;
    margin-bottom: auto;
  }
  .categories-below-container-right .right-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-right .right-below {
    margin-top: 5%;
    width: 100%;
    height: auto;
  }
  .categories-below-container-right .right-below img {
    width: 100%;
    height: 100%;
  }
}
w .categories-below-container {
  margin-left: 16%;
}

@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .categories-below {
    width: 100%;
    height: 690px;
  }
  .categories-below-container {
    width: 67%;
    height: 100%;
  }

  .categories-below-container-left {
    width: 66%;
  }
  .categories-below-container-left .left-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-left .left-below {
    margin-top: 3%;
  }
  .categories-below-container-left .left-below img:first-child {
    margin-right: 3.2%;
    width: 49%;
    height: 40%;
  }
  .categories-below-container-left .left-below img:last-child {
    width: 48%;
    height: 40%;
  }

  .categories-below-container-right {
    width: 32%;
    margin-left: auto;
  }
  .categories-below-container-right .right-top {
    width: 100%;
    height: auto;
    margin-bottom: auto;
  }
  .categories-below-container-right .right-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-right .right-below {
    margin-top: 5%;
    width: 100%;
    height: auto;
  }
  .categories-below-container-right .right-below img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .categories-below {
    width: 100%;
  }

  .categories-below-container {
    margin-left: 0px;
    flex-direction: column;
    width: 100%;
  }

  .categories-below-container-left {
    width: 100%;
  }
  .categories-below-container-left .left-top {
    width: 100%;
  }
  .categories-below-container-left .left-top img {
    width: 100%;
  }
  .categories-below-container-left .left-below {
    width: 100%;
  }
  .categories-below-container-left .left-below img:first-child {
    width: 48%;
  }
  .categories-below-container-left .left-below img:last-child {
    width: 49%;
  }

  .categories-below-container-right {
    margin-left: 0px;
    display: flex;
    width: 100%;
    margin-top: 2%;
  }
  .categories-below-container-right .right-top {
    width: 48%;
  }
  .categories-below-container-right .right-top img {
    width: 100%;
  }
  .categories-below-container-right .right-below {
    margin-left: 3%;
    width: 49%;
    height: 122%;
  }
  .categories-below-container-right .right-below img {
    width: 100%;
    height: 38%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .categories-below {
    width: 100%;
  }

  .categories-below-container {
    margin-left: 0px;
    flex-direction: column;
    width: 100%;
  }

  .categories-below-container-left {
    width: 100%;
  }
  .categories-below-container-left .left-top {
    width: 100%;
  }
  .categories-below-container-left .left-top img {
    width: 100%;
    height: 20%;
  }
  .categories-below-container-left .left-below {
    width: 100%;
  }
  .categories-below-container-left .left-below img:first-child {
    width: 48%;
    height: 50%;
  }
  .categories-below-container-left .left-below img:last-child {
    width: 49%;
    height: 50%;
  }

  .categories-below-container-right {
    margin-left: 0px;
    display: flex;
    width: 100%;
    margin-top: 6%;
  }
  .categories-below-container-right .right-top {
    width: 48%;
    height: 50%;
  }
  .categories-below-container-right .right-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-right .right-below {
    margin-left: 6%;
    width: 46%;
    height: 50%;
  }
  .categories-below-container-right .right-below img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 499px) {
  .categories-below {
    width: 100%;
  }

  .categories-below-container {
    margin-left: 0px;
    flex-direction: column;
    width: 100%;
  }

  .categories-below-container-left {
    width: 100%;
  }
  .categories-below-container-left .left-top {
    width: 100%;
  }
  .categories-below-container-left .left-top img {
    width: 100%;
    height: 20%;
  }
  .categories-below-container-left .left-below {
    width: 100%;
  }
  .categories-below-container-left .left-below img:first-child {
    width: 48%;
    height: 50%;
  }
  .categories-below-container-left .left-below img:last-child {
    width: 49%;
    height: 50%;
  }

  .categories-below-container-right {
    margin-left: 0px;
    display: flex;
    width: 100%;
    margin-top: 6%;
  }
  .categories-below-container-right .right-top {
    width: 48%;
    height: 50%;
  }
  .categories-below-container-right .right-top img {
    width: 100%;
    height: 100%;
  }
  .categories-below-container-right .right-below {
    margin-left: 6%;
    width: 46%;
    height: 50%;
  }
  .categories-below-container-right .right-below img {
    width: 100%;
    height: 100%;
  }
}
.product {
  width: 1920px;
  height: 1240px;
}
.product-title {
  text-align: center;
  margin-top: 81px;
}
.product-title h4 {
  font-size: 28px;
  font-weight: 700;
}
.product-title p {
  font-size: 16px;
  margin-bottom: 0px !important;
}
.product-clother {
  width: 1410px;
  height: 1062px;
  margin: 0px 16% 0px;
  display: flex;
  flex-wrap: wrap;
}
.product-clother-card {
  margin-top: 37px;
  width: 332px;
  height: 510px;
  margin-left: 27px;
}
.product-clother-card .card-scale {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.product-clother-card .card-scale img {
  width: 100%;
  cursor: zoom-in;
}
.product-clother-card .card-scale img:hover {
  transition: all 0.8s;
  transform: scale(1.5);
}
.product-clother-card:first-child {
  margin-left: 0px;
}
.product-clother-card h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.product-clother-card p {
  font-size: 16px;
}
.product-clother-card a {
  color: black;
}

@media only screen and (min-width: 1024px) {
  .product {
    width: 100%;
    height: 100%;
  }
  .product-clother {
    width: 68%;
    height: 80%;
    margin: 0px 16% 0px;
  }
  .product-clother-card {
    width: 24%;
    height: 80%;
    margin-left: 1.3%;
  }
  .product-clother-card:first-child {
    margin-left: 0px;
  }
  .product-clother-card img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .product {
    width: 100%;
    height: 100%;
  }
  .product-clother {
    width: 67%;
    height: 80%;
    margin-left: 16%;
  }
  .product-clother-card {
    width: 24%;
    height: 50%;
    margin-left: 1.3%;
  }
  .product-clother-card:first-child {
    margin-left: 0px;
  }
  .product-clother-card img {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .product {
    width: 100%;
  }

  .product-title {
    width: 100%;
    margin-top: 39%;
  }

  .product-clother {
    width: 100%;
    margin-left: 6%;
  }

  .product-clother > .product-clother-card:nth-child(3) {
    margin-left: 0px;
  }

  .product-clother > .product-clother-card:nth-child(7) {
    margin-left: 0px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .product {
    width: 100%;
  }

  .product-title {
    width: 100%;
    margin-top: -30%;
  }

  .product-clother {
    width: 100%;
    margin-left: 6%;
  }
  .product-clother-card {
    margin-left: 10% !important;
  }
}
@media only screen and (max-width: 499px) {
  .product {
    width: 100%;
  }

  .product-title {
    width: 100%;
    margin-top: -80%;
  }

  .product-clother {
    width: 100%;
    margin-left: 4%;
  }
  .product-clother-card {
    margin-left: 4%;
  }
  .product-clother-card:nth-child(1) {
    margin-left: 4% !important;
  }
  .product-clother-card:nth-child(5) {
    margin-left: 4% !important;
  }
}
.collection {
  width: 1910px;
  height: 440px;
}
.collection-container {
  width: 1410px;
  display: flex;
  margin: 0px 16%;
}
.collection-container-left {
  position: relative;
}
.collection-container-left .left-content {
  position: absolute;
  top: 98px;
  left: 29px;
  width: 307px;
  height: 244px;
}
.collection-container-left .left-content span {
  font-weight: bold;
  transform: scale(1);
  animation: infinite 1s infinite;
}
@keyframes infinite {
  from {
    font-size: 14px;
  }
  to {
    font-size: 17px;
  }
}
.collection-container-left .left-content button:hover {
  background-color: #f0f0f0;
  color: black;
}
.collection-container-left p:first-child {
  font-size: 20px;
}
.collection-container-left h4 {
  font-size: 34px;
}
.collection-container-left p:last-child {
  font-size: 16px;
}
.collection-container-left button {
  width: 212px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  color: white;
}
.collection-container-right {
  position: relative;
  margin-left: 30px;
}
.collection-container-right .left-content {
  position: absolute;
  top: 98px;
  left: 29px;
  width: 307px;
  height: 244px;
}
.collection-container-right .left-content span {
  transform: scale(1);
  font-weight: bold;
  animation: infinite 1s infinite;
}
@keyframes infinite {
  from {
    font-size: 14px;
  }
  to {
    font-size: 17px;
  }
}
.collection-container-right .left-content p {
  margin-bottom: 0px !important;
}
.collection-container-right .left-content button:hover {
  background-color: #f0f0f0;
  color: black;
}
.collection-container-right p:first-child {
  font-size: 20px;
}
.collection-container-right h4 {
  font-size: 34px;
}
.collection-container-right p:last-child {
  padding: 40px 0px !important;
  font-size: 16px;
  margin-bottom: 0px !important;
}
.collection-container-right button {
  margin-top: 5.5%;
  width: 212px;
  height: 50px;
  border-radius: 5px;
  background-color: black;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .collection {
    width: 100%;
    margin-top: 77px;
    height: 100%;
  }
  .collection-container {
    width: 68%;
  }
  .collection-container-left img {
    width: 100%;
  }
  .collection-container-left .left-content {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 51%;
  }
  .collection-container-left .left-content p {
    margin-bottom: 0px !important;
  }
  .collection-container-left .left-content h4 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
  .collection-container-left .left-content .text {
    font-size: 70%;
    padding: 10% 0px !important;
  }
  .collection-container-left .left-content p:first-child {
    font-size: 80%;
  }
  .collection-container-left .left-content button {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    background-color: black;
    color: white;
  }
  .collection-container-right {
    margin-left: 1.5%;
  }
  .collection-container-right img {
    width: 100%;
  }
  .collection-container-right .left-content {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 50%;
  }
  .collection-container-right .left-content .text-1 {
    height: 8%;
  }
  .collection-container-right .left-content p {
    margin-bottom: 0px !important;
  }
  .collection-container-right .left-content h4 {
    font-size: 150%;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
  .collection-container-right .left-content .text {
    font-size: 70%;
    padding: 10% 0px !important;
  }
  .collection-container-right .left-content p:first-child {
    font-size: 80%;
  }
  .collection-container-right .left-content button {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 0px !important;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .collection {
    width: 100%;
    margin-top: 77px;
    height: 100%;
  }
  .collection-container {
    width: 67%;
    margin-left: 16%;
  }
  .collection-container-left img {
    width: 100%;
  }
  .collection-container-left .left-content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 51%;
  }
  .collection-container-left .left-content .text-1 {
    font-size: 70%;
  }
  .collection-container-left .left-content p {
    margin-bottom: 0px !important;
  }
  .collection-container-left .left-content h4 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
  .collection-container-left .left-content .text {
    font-size: 40%;
    padding: 10% 0px !important;
  }
  .collection-container-left .left-content p:first-child {
    font-size: 80%;
  }
  .collection-container-left .left-content button {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 50%;
  }
  .collection-container-right {
    margin-left: 1.5%;
  }
  .collection-container-right img {
    width: 100%;
  }
  .collection-container-right .left-content {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 50%;
  }
  .collection-container-right .left-content .text-1 {
    font-size: 70%;
    height: 7%;
  }
  .collection-container-right .left-content p {
    margin-bottom: 0px !important;
  }
  .collection-container-right .left-content h4 {
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0px !important;
  }
  .collection-container-right .left-content .text {
    font-size: 40%;
    padding: 10% 0px !important;
  }
  .collection-container-right .left-content p:first-child {
    font-size: 80%;
  }
  .collection-container-right .left-content button {
    width: 60%;
    height: 15%;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 50%;
    margin-top: 0px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .collection {
    width: 100%;
    height: 100%;
    margin-top: 133%;
  }

  .collection-container {
    width: 100%;
    margin-left: 0px;
  }
  .collection-container-left {
    width: 49%;
  }
  .collection-container-left img {
    width: 100%;
    height: 155%;
  }
  .collection-container-right {
    width: 50%;
    margin-top: 0px !important;
    margin-left: 1%;
    margin-top: 1%;
  }
  .collection-container-right .text-1 {
    height: 20%;
  }
  .collection-container-right .left-content {
    top: 88px;
  }
  .collection-container-right img {
    width: 100%;
    height: 155%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .collection {
    width: 100%;
    height: 100%;
    margin-top: 680%;
  }

  .collection-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .collection-container-left {
    width: 100%;
  }
  .collection-container-left img {
    width: 100%;
    height: 155%;
  }
  .collection-container-left .left-content {
    margin-top: -80px;
  }
  .collection-container-right {
    width: 100%;
    margin-top: 10px !important;
    margin-left: 0px;
  }
  .collection-container-right .text-1 {
    height: 20%;
  }
  .collection-container-right .left-content {
    top: 10px;
  }
  .collection-container-right img {
    width: 100%;
    height: 155%;
  }
}
@media only screen and (max-width: 499px) {
  .collection {
    width: 100%;
    height: 100%;
    margin-top: 880%;
  }

  .collection-container {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }
  .collection-container-left {
    width: 100%;
  }
  .collection-container-left img {
    width: 100%;
    height: 155%;
  }
  .collection-container-left .left-content {
    margin-top: -80px;
  }
  .collection-container-right {
    width: 100%;
    margin-top: 20px !important;
    margin-left: 0px;
  }
  .collection-container-right .text-1 {
    height: 20%;
  }
  .collection-container-right .left-content {
    top: 10px;
  }
  .collection-container-right img {
    width: 100%;
    height: 155%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  #product-next {
    margin-top: 50%;
  }
}
@media only screen and (max-width: 499px) {
  #product-next {
    margin-top: 100%;
  }
}
.subscribe {
  position: relative;
  width: 1920px;
  height: 507px;
  margin-top: 80px;
}
.subscribe-image img {
  width: 100%;
}
.subscribe-box {
  position: absolute;
  width: 930px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.9);
  top: 79px;
  left: 494px;
}
.subscribe-box-title p {
  text-align: center;
  margin-bottom: 0px !important;
}
.subscribe-box-title .text-1 {
  margin-top: 81px;
  font-size: 28px;
  font-weight: bold;
}
.subscribe-box-title .text-2 {
  margin-top: 23px;
  font-size: 16px;
}
.subscribe-box-title .text-3 {
  margin-top: 42px;
}
.subscribe-box-title .input-sub {
  font-size: 13px;
  padding: 0 10px;
  border: 2px solid #e1dfdc !important;
}
.subscribe-box-title .input-btn {
  margin-top: 38px;
  margin-left: 120px;
}
.subscribe-box-title .input-btn input {
  width: 540px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #838383;
}
.subscribe-box-title .input-btn button {
  width: 140px;
  height: 46px;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.subscribe-box-title .input-btn button:hover {
  color: #ba933e;
}

@media only screen and (min-width: 1024px) {
  .subscribe {
    width: 100%;
    height: 100%;
  }
  .subscribe-image img {
    width: 100%;
  }
  .subscribe-box {
    width: 49%;
    left: 25%;
    top: 15%;
    height: 68%;
  }
  .subscribe-box-title .text-1 {
    margin-top: 6%;
    font-size: 120%;
    font-weight: bold;
  }
  .subscribe-box-title .text-2 {
    margin-top: 1%;
    font-size: 70%;
  }
  .subscribe-box-title .text-3 {
    margin-top: 30px;
    font-size: 70%;
  }
  .subscribe-box-title .input-btn {
    margin-top: 30px;
    margin-left: 120px;
  }
  .subscribe-box-title .input-btn input {
    width: 58%;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #838383;
  }
  .subscribe-box-title .input-btn button {
    width: 14%;
    height: 14%;
    background-color: black;
    color: white;
    border-radius: 3px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .subscribe {
    width: 100%;
    height: 100%;
  }
  .subscribe-image img {
    width: 100%;
  }
  .subscribe-box {
    width: 49%;
    left: 25%;
    top: 15%;
    height: 68%;
  }
  .subscribe-box-title .text-1 {
    margin-top: 6%;
    font-size: 120%;
    font-weight: bold;
  }
  .subscribe-box-title .text-2 {
    margin-top: 1%;
    font-size: 70%;
  }
  .subscribe-box-title .text-3 {
    margin-top: 4%;
    font-size: 70%;
  }
  .subscribe-box-title .input-btn {
    margin-top: 5%;
    margin-left: 120px;
  }
  .subscribe-box-title .input-btn input {
    width: 58%;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #838383;
    font-size: 62%;
  }
  .subscribe-box-title .input-btn button {
    width: 14%;
    height: 14%;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subscribe {
    display: none;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .subscribe {
    margin-top: 670%;
    width: 100%;
    height: 300%;
  }
  .subscribe-image {
    height: 200px;
  }
  .subscribe-image img {
    width: 100%;
    height: 100%;
  }
  .subscribe-box {
    width: 69%;
    left: 15%;
    top: 15%;
    height: 68%;
  }
  .subscribe-box-title .text-1 {
    margin-top: 6%;
    font-size: 70%;
    font-weight: bold;
  }
  .subscribe-box-title .text-2 {
    margin-top: 1%;
    font-size: 50%;
  }
  .subscribe-box-title .text-3 {
    margin-top: 4%;
    font-size: 50%;
  }
  .subscribe-box-title .input-btn {
    margin-top: 5%;
    margin-left: 5%;
  }
  .subscribe-box-title .input-btn input {
    width: 58%;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #838383;
    font-size: 62%;
  }
  .subscribe-box-title .input-btn button {
    width: 24%;
    height: 27px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 70%;
  }
}
@media only screen and (max-width: 499px) {
  .subscribe {
    margin-top: 770%;
    width: 100%;
    height: 300%;
  }
  .subscribe-image {
    height: 200px;
  }
  .subscribe-image img {
    width: 100%;
    height: 100%;
  }
  .subscribe-box {
    width: 69%;
    left: 15%;
    top: 15%;
    height: 68%;
  }
  .subscribe-box-title .text-1 {
    margin-top: 6%;
    font-size: 70%;
    font-weight: bold;
  }
  .subscribe-box-title .text-2 {
    margin-top: 1%;
    font-size: 50%;
  }
  .subscribe-box-title .text-3 {
    margin-top: 4%;
    font-size: 50%;
  }
  .subscribe-box-title .input-btn {
    margin-top: 5%;
    margin-left: 5%;
  }
  .subscribe-box-title .input-btn input {
    width: 58%;
    height: 28px;
    border-radius: 3px;
    border: 1px solid #838383;
    font-size: 62%;
  }
  .subscribe-box-title .input-btn button {
    width: 24%;
    height: 27px;
    background-color: black;
    color: white;
    border-radius: 3px;
    font-size: 70%;
  }
}
.icond {
  position: relative;
  width: 1920px;
  height: 318px;
  background-color: #f8f8f8;
}
.icond-container {
  width: 1192px;
  position: absolute;
  height: 162px;
  top: 89px;
  left: 368px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.icond-container-left {
  width: 187px;
  height: 162px;
}
.icond-container-left #text-1 {
  margin-bottom: 50px !important;
}
.icond-container-left img {
  margin: 0 70px;
}
.icond-container-left #image-1 {
  margin-top: -13px;
}
.icond-container-left h5 {
  font-size: 16px;
  margin-bottom: 20px !important;
  font-weight: bold;
}
.icond-container-left p {
  font-size: 16px;
  margin-bottom: 30px !important;
}
.icond-container-left a {
  text-align: center;
  color: black;
  font-weight: bold;
}
.icond-container-left a:hover {
  text-decoration: none;
  color: #ba933e;
}

@media only screen and (min-width: 1024px) {
  .icond {
    width: 100%;
  }
  .icond-container {
    width: 62%;
    left: 20%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .icond {
    width: 100%;
  }
  .icond-container {
    width: 62%;
    left: 20%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icond {
    width: 100%;
    margin-top: 130%;
  }

  .icond-container {
    width: 90%;
    left: 5% !important;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .icond {
    width: 100%;
    height: 850px;
    margin-top: 0%;
  }

  .icond-container {
    margin-left: 25%;
    flex-direction: column;
    text-align: center;
    width: 90%;
    left: 5% !important;
  }

  .icond-container-left:nth-child(2) {
    margin-top: 20%;
  }

  .icond-container-left:last-child {
    margin-top: 20%;
  }
}
@media only screen and (max-width: 499px) {
  .icond {
    width: 100%;
    height: 850px;
    margin-top: 0%;
  }

  .icond-container {
    margin-left: 25%;
    flex-direction: column;
    text-align: center;
    width: 90%;
    left: 5% !important;
  }

  .icond-container-left:nth-child(2) {
    margin-top: 20%;
  }

  .icond-container-left:last-child {
    margin-top: 20%;
  }
}
.blogg {
  width: 1920px;
  height: 829px;
  margin-top: 82px;
}
.blogg-top {
  text-align: center;
}
.blogg-top h4 {
  font-size: 28px;
  font-weight: 700;
}
.blogg-top p {
  font-size: 16px;
  margin-bottom: 0px !important;
}
.blogg-below-container {
  width: 1409px;
  height: 658px;
  margin-left: 13%;
  margin-top: 4%;
  display: flex;
}
.blogg-below-container .card {
  width: 32%;
  height: 658px;
  background-color: #fff;
  border: none;
}
.blogg-below-container .card .lifestyle {
  width: 88px;
  height: 24px;
  border-radius: 3px;
  margin: 30px 0px 20px;
  background-color: #ba933e;
  color: white;
  border: none;
  transition: all 0.6s;
  font-size: 10px;
  font-weight: bold;
}
.blogg-below-container .card .lifestyle:hover {
  background-color: black;
  transition: all 1s;
}
.blogg-below-container .card p {
  font-size: 14px;
}
.blogg-below-container .card h4 {
  font-size: 20px;
  font-weight: bold;
  animation: h4 1s infinite;
}
@keyframes h4 {
  from {
    font-size: 16px;
    color: #444444;
  }
  to {
    font-size: 17px;
    color: #ba933e;
  }
}
.blogg-below-container .card .content {
  font-size: 16px;
}
.blogg-below-container .card .read {
  width: 154px;
  height: 49px;
  background-color: white;
  border: none;
  position: relative;
  z-index: 1;
}
.blogg-below-container .card .read:hover {
  color: #ffff;
}
.blogg-below-container .card .read:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 0%;
  height: 100%;
  background-color: #ba933e;
  transition: 0.35s;
  z-index: -1;
  border-radius: 2px;
  color: black;
}
.blogg-below-container .card .read:hover:before {
  width: 100%;
  color: white;
  left: 0;
  /*change here*/
  right: auto;
  /*change here*/
}

@media only screen and (min-width: 1024px) {
  .blogg {
    width: 100%;
    height: 100%;
  }
  .blogg-below-container {
    width: 68%;
    height: 50%;
    margin-left: 16%;
  }
  .blogg-below-container .card {
    height: 100%;
  }
  .blogg-below-container .card .lifestyle {
    width: 25%;
    border-radius: 3px;
    margin: 25px 0px 15px;
    background-color: #ba933e;
    color: white;
    border: none;
  }
  .blogg-below-container .card p {
    font-size: 80%;
  }
  .blogg-below-container .card h4 {
    font-size: 90%;
  }
  .blogg-below-container .card .content {
    font-size: 80%;
  }
  .blogg-below-container .card .read {
    width: 40%;
    height: 45px;
    background-color: white;
    border: 3px solid #e5e5e5;
    border-radius: 3px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .blogg {
    width: 100%;
    height: 100%;
  }
  .blogg-below-container {
    width: 67%;
    height: 50%;
    margin-left: 16.5%;
  }
  .blogg-below-container .card {
    height: 100%;
  }
  .blogg-below-container .card .lifestyle {
    width: 25%;
    border-radius: 3px;
    margin: 25px 0px 15px;
    background-color: #ba933e;
    color: white;
    border: none;
  }
  .blogg-below-container .card p {
    font-size: 80%;
  }
  .blogg-below-container .card h4 {
    font-size: 90%;
  }
  .blogg-below-container .card .content {
    font-size: 80%;
  }
  .blogg-below-container .card .read {
    width: 40%;
    height: 45px;
    background-color: white;
    border: 3px solid #e5e5e5;
    border-radius: 3px;
  }
  .blogg-below-container .card button {
    font-size: 70%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blogg {
    width: 100%;
  }

  .blogg-below-container {
    flex-direction: column;
    z-index: 7;
  }
  .blogg-below-container .card {
    margin-left: 2%;
    margin-top: 2%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .blogg {
    width: 100%;
  }

  .blogg-below-container {
    position: relative;
    flex-direction: column;
  }
  .blogg-below-container .card {
    margin-left: -56px;
    margin-top: 2%;
  }
  .blogg-below-container #card-2 {
    margin-left: -4% !important;
  }
  .blogg-below-container #card-3 {
    margin-left: -4% !important;
  }
}
@media only screen and (max-width: 499px) {
  .blogg {
    width: 100%;
  }

  .blogg-below-container {
    position: relative;
    flex-direction: column;
    z-index: 1;
  }
  .blogg-below-container .card {
    margin-left: -46px;
    margin-top: 2%;
  }
  .blogg-below-container #card-2 {
    margin-left: -3% !important;
  }
  .blogg-below-container #card-3 {
    margin-left: -3% !important;
  }
}
.instagram {
  width: 1920px;
  height: 170px;
  background-color: #f8f8f8;
  margin-top: 79px;
  text-align: center;
  position: relative;
}
.instagram-title {
  position: absolute;
  top: 47%;
  left: 42%;
}
.instagram-title p:first-child {
  font-size: 28px;
  font-weight: bold;
}
.instagram-title p:last-child {
  font-size: 16px;
}

@media only screen and (min-width: 1024px) {
  .instagram {
    width: 100%;
  }

  .instagram-image {
    width: 100%;
  }
  .instagram-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .instagram {
    width: 100%;
  }

  .instagram-image {
    width: 100%;
  }
  .instagram-image img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .instagram {
    width: 100%;
    margin-top: 150%;
  }

  .instagram-title {
    left: 30%;
  }

  .instagram-image {
    width: 100%;
  }
  .instagram-image img {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .instagram {
    width: 100%;
    margin-top: 220%;
  }

  .instagram-title {
    left: 30%;
  }

  .instagram-image {
    width: 100%;
  }
  .instagram-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 499px) {
  .instagram {
    width: 100%;
    margin-top: 260%;
  }

  .instagram-title {
    left: 14%;
  }

  .instagram-image {
    width: 100%;
  }
  .instagram-image img {
    width: 100%;
  }
}
.brand {
  width: 1920px;
  height: 149px;
  background-color: #fff;
}
.brand-container {
  width: 1298px;
  height: 149px;
  margin: 0 16%;
}

@media only screen and (min-width: 1024px) {
  .brand {
    width: 100%;
    height: 100%;
  }
  .brand-container {
    width: 67%;
    height: 100%;
  }
  .brand-container img {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .brand {
    width: 100%;
    height: 100%;
  }
  .brand-container {
    width: 67%;
    height: 100%;
  }
  .brand-container img {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .brand {
    width: 100%;
  }
  .brand-container {
    width: 67%;
  }
  .brand-container img {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .brand {
    width: 100%;
  }
  .brand-container {
    width: 67%;
  }
  .brand-container img {
    width: 100%;
  }
}
@media only screen and (max-width: 499px) {
  .brand {
    width: 100%;
  }
  .brand-container {
    width: 67%;
  }
  .brand-container img {
    width: 100%;
  }
}
.footer {
  position: relative;
  width: 1920px;
  height: 360px;
  background-color: #1a1a1a;
}
.footer-top {
  width: 100%;
}
.footer-top-container {
  position: absolute;
  width: 1259px;
  height: 279px;
  left: 13%;
  top: 9%;
  display: flex;
  justify-content: space-between;
}
.footer-top-container h6 {
  color: white;
  font-size: 16px;
}
.footer-top-container .container-2 a {
  color: #7f7f7f;
}
.footer-top-container .container-3 a {
  color: #7f7f7f;
}
.footer-top-container .container-4 .phone {
  display: flex;
}
.footer-top-container .container-4 .phone .phone-text {
  margin-left: 10px;
}
.footer-top-container .container-4 a {
  font-size: 14px;
  color: #7f7f7f;
}
.footer-top-container .container-4 .map {
  display: flex;
}
.footer-top-container .container-4 .map p {
  font-size: 14px;
  color: #7f7f7f;
}
.footer-top-container .container-4 .map .map-text {
  margin-left: 10px;
}
.footer-top-container .container-4 .find {
  margin-top: 10%;
}

@media only screen and (min-width: 1024px) {
  .footer {
    width: 100%;
  }
  .footer-top-container {
    width: 65%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .footer {
    width: 100%;
  }
  .footer-top-container {
    width: 65%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    width: 100%;
    height: 855px;
  }
  .footer-top-container {
    flex-direction: column;
  }
  .footer .container-4 .find {
    margin-top: 2%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .footer {
    width: 100%;
    height: 855px;
  }
  .footer-top-container {
    flex-direction: column;
  }
  .footer .container-4 .find {
    margin-top: 2%;
  }
}
@media only screen and (max-width: 499px) {
  .footer {
    width: 100%;
    height: 855px;
  }
  .footer-top-container {
    flex-direction: column;
  }
  .footer .container-4 .find {
    margin-top: 2%;
  }
}
.footer-below {
  width: 1920px;
  height: 95px;
  background-color: #1a1a1a;
}
.footer-below-container {
  margin-left: 13%;
  width: 73%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .footer-below {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .footer-below {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-below {
    width: 100%;
  }
}
@media only screen and (min-width: 500px) and (max-width: 767px) {
  .footer-below {
    width: 100%;
  }

  .footer-below-container-right {
    display: none;
  }
}
@media only screen and (max-width: 499px) {
  .footer-below {
    width: 100%;
  }

  .footer-below-container-right {
    display: none;
  }
}
#icon {
  font-size: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ba933e;
  display: none;
  transition: all 1s;
  animation: infin 1s infinite;
}

@keyframes infin {
  from {
    font-size: 47px;
  }
  to {
    font-size: 50px;
  }
}
.show {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=style.css.map */
